<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="./css/index.css">
	<link rel="icon" href="/img/weather.png">
	<title>Document</title>
</head>

<body>
	<div class="bg-error">
		<div class="container-icon-error">
			<span class="msg1">{{errorMessage1}}</span>
			<span class="msg2">{{errorMessage2}}</span>
			<span class="msg3">{{errorMessage3}}</span>
			<span class="msg4">{{errorMessage4}}.</span>
		</div>

	</div>
	<script src='/js/app.js'></script>
</body>

</html>